<div class="hero">
  <div class="grid grid--1x2">
    <div class="hero__image">
      <img src="https://cdn.shopify.com/s/files/1/0569/5327/4503/files/bike.png?v=1697826075" alt="" />
    </div>

    <div class="hero__content">
      
    </div>
  </div>
</div>

{% schema %}
    {
      "name": "Hero Section",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "accent-1"
        }
      ],
      "presets": [
        {
          "name": "Hero Section"
        }
      ]
    }
{% endschema %}